@import "bootstrap/bootstrap";

$rs: 16px;
@mixin respond-to($breakpoint) {
  @media only screen and (max-width: $breakpoint + px) {
    @content
  }
}

.teaserimage {
  height: 630px;
  position: relative;
  overflow: hidden;
  background-color: #000;
  .teaserimage-image {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    text-indent: -9999px;
  }
}

.logo-readium {
  position: fixed;
  left: 10px;
  top: 10px;
  width: $rs*3;
  height: $rs*3;
  background-color: #333;
  overflow: hidden;
  z-index: 99;
  .logo {
    display: block;
    position: absolute;
    top: $rs/2;
    left: $rs/2;
    width: $rs*2;
    height: $rs*2;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.blog-header {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  box-sizing: border-box;
  hr {
    border-top: 1px dotted #b3b3b1;
  }
  @include respond-to(800) {
    padding: 0 $rs;
  }
  .blog-logo {
    width: $rs*7.5;
    height: $rs*7.5;
    position: absolute;
    top: -$rs*3.75;
    right: 50%;
    margin-right: -$rs*3.75;
    background-size: cover;
    border-radius: 50%;
    z-index: 99;
    text-indent: -9999px;
    border: 3px solid #fff;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  }
  .blog-title {
    margin: 0;
    padding: $rs*5.25 $rs $rs/2;
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    letter-spacing: -2px;
    outline: 0;
    line-height: 50px;
    word-break: break-word;
    color: #333;
  }
  .blog-description {
    margin: 0 0 20px;
    padding: 0 $rs*2;
    font-size: $rs/8*9;
    line-height: 1.5;
    color: #666;
    text-align: center;
    font-weight: 400;
  }
  .custom-links {
    margin: 0 0 50px;
    text-align: center;
    color: #ccc;
    a {
      padding: 0 12px;
      text-decoration: none;
      color: #999;
      &:hover {
        color: #333;
      }
    }
  }
}

.content {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  box-sizing: border-box;
  @include respond-to(800) {
    padding: 0 $rs*2;
  }
  hr {
    border-top: 1px dotted #b3b3b1;
  }
  a {
    img {
    display: block;
    margin: auto;
    }
  }
  //#slider_container
  //  position: relative
  //  top: 0px
  //  left: 0px
  //  width: 640px
  //  height: 360px
  //  div
  //    cursor: move
  //    position: absolute
  //    overflow: hidden
  //    left: 0px
  //    top: 15px
  //    width: 640px
  //    height: 360px
  article {
    &:last-child {
      border-bottom: 0px;
    }
    .post-header {
      letter-spacing: -0.02em;
      font-weight: 700;
      font-style: normal;
      display: block;
      font-size: 24px;
      line-height: 1.1;
      margin: 0 0;
      text-align: center;
      a {
        text-decoration: none;
        color: #333332;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.site-footer {
  margin: 10px auto;
  padding: $rs 0;
  width: 100%;
  max-width: 640px;
  font-size: $rs/4*3;
  text-align: center;
  color: #999;
  line-height: $rs*1.1;
  a {
    color: #666;
    text-decoration: none;
    &:hover {
      color: #333;
    }
  }
}
